@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Edson's JokesWebApp</h1>
    <p>(jk its from a youtube tutorial) <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg"> Click here for youtube link </a></p>
</div>

<div class="text-start"> 
    <h1 class="display-4"> Here are my social links</h1>
    <p> LinkedIn  <a href="https://www.linkedin.com/in/edson-li-387i/"> Click here </a></p>
    <p> GitHub <a href="https://github.com/edsonli1999"> Click here</a></p>
 

</div>
